body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imagen img{
  width: 500px;
}

#imagen {
  text-align: center;
  padding: 100px;
}

.css-11lq3yg-MuiGrid-root {
  justify-content: center;
}

#texto {
  color: blue;
}

#campos {
  border-radius: 3px;
}

#submit {
  background-color: azure;
}
